.AboutMe {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text-container-aboutme {
    text-align: center;
}

.handwriting-text {
    font-family: 'Italiana', serif;
    font-size: 36px; 
    color: #f9f871; 
    display: inline-block;
    white-space: nowrap;
    overflow: hidden; 
    position: relative; 
    animation: typing 3s steps(21, end) forwards; 
}

.handwriting-text::after {
    content: '|'; 
    display: inline-block;
    position: absolute;
    top: 0; 
    right: -6px; 
    color: #f9f871; 
    font-weight: bold; 
    font-size: 32px; 
    animation: blink 1.1s step-end infinite; 
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}





